html, body {
    min-height: 100%;
    background: url("scr1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.preview 
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 20%;
    padding: 7px;
    margin: 15px auto;
    color: #FFF;
    text-align: center;
}
.preview h1
{
    font-size: 30px;
    font-weight: bold;
}

.enigma img{
    margin-top: 30px;
    margin-left: -15px;
    width: 20vw; /* Используйте 20% ширины видового экрана */
    height: 70vh; /* Используйте 15% высоты видового экрана */
    position: static; /* Используем position: static */
}
.enig
{
    float: left;
    transform: scaleX(-1);
}
.arcwarden img{
    position: static;
    margin-top: 30px;
    margin-right: -15px;
    width: 20vw; /* Используйте 20% ширины видового экрана */
    height: 70vh; /* Используйте 15% высоты видового экрана */
    
    
}
.arc{
    float: right; 
}

#content div {
    top: 120px;
    z-index: 1;
    position: relative;
    pointer-events: none;
    border-radius: 20px;
    background: url("sc.gif");
    background-size: cover;
    /*background-color: transparent;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    /*backdrop-filter: blur(5px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 35%;
}

#content h1, #content h2, #content p {
    color: white;
    border-radius: 15px;
    background-color: rgba(43, 39, 44, 0.7);
    /*background-color: transparent;*/
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: relative;
    pointer-events: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

*
{
    margin: 20px;
    padding: 0;
}
#load {
    z-index: 1;
    top: 110px;
    position:relative;
    pointer-events: none;
    display: none;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border: 3px solid white;
    border-top: 3px solid #252222;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}